<!DOCTYPE html>
<html>
	<head>
		<title>Matthew Redds
		</title>
	</head>
	<body>
	    <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/1470169_2749594270181_591533209_n.jpg?oh=f6d26c5313751f864ed358bdc5f012bc&oe=5484FE93&__gda__=1419717720_7918c29474d336710ed04cf9f6d39b6d" />
	    <p>My age is 25</p>
	    <p>I am from Northern VA, DC Area.</p>
	    <p>I am currently in Utah =( </p>
	    <ul>
	        <li style="color: green; font-size: 20px; font-family: Verdana">Movies</li>
	            <ol>
	                <li>The Dark Knight</li>
	                <li>Gladiator</li>
	                <li>District 9</li>
	            </ol>
	        <li style="color: green; font-size: 20px;font-family: Verdana">Books</li>
	            <ol>
	                <li>Prisoner of Azkaban</li>
	                <li>Sorcerer's Stone</li>
	                <li>The Deathly Hallows</li>
	            </ol>
	        <li style="color: green; font-size: 20px; font-family: Verdana">TV Shows</li>
	            <ul>
	                <li>That 70s Show</li>
	                <li>Curb Your Enthusiasm</li>
	                <li>Game of Thrones</li>
	            </ul>
	        <li style="color: green; font-size: 20px; font-family: Verdana">Teams</li>
	            <ul>
	                <li>Redskins</li>
	                <li>Wizards</li>
	                <li>DC United</li>
	            </ul>
	    </ul>
	</body>
</html>